<!DOCTYPE html>
<html lang="en" dir="ltr">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <link href="assets/css/styles.css" rel="stylesheet">

    <head>
        <meta charset="utf-8">
        <title>Frizerstvo Mirko</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container-fluid" id="menu">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="/">Frizerstvo Mirko</a>
                                <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="space"></div>
                                <div class="collapse navbar-collapse left" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Domov</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/projects">Ponudba</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contacts">Naroči se<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/blog">Vprašanja</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="narocilo">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="naslov">
                            Naroči se!
                        </div>
                        <div class="col-lg-6" id="center">
                            <div class="container"></div>
                            <!-- <div class="row"> -->
                            Ime in priimek
                            <br/>
                            <input type="text" id="ime" name="imeInPriimek">
                            Telefonska številka
                            <br/>
                            <input type="number" id="telefon" name="telefon">
                            Dan
                            <br/>
                            <select id="dan" name="dan">
                                <option value="ponedeljek">Ponedeljek</option>
                                <option value="torek">Torek</option>
                                <option value="sreda">Sreda</option>
                                <option value="cetrtek">Četrtek</option>
                                <option value="petek">Petek</option>
                                <option value="sobota">Sobota</option>
                            </select>
                            Vaše sporočilo
                            <br/>
                            <input type="text-area" id="sporocilo" name="sporocilo">
                            <input type="button" id="poslji" value="Pošlji" onclick="msg()">
                            <!-- </div> -->
                        </div>

                        <div class="col-lg-6" id="center">
                            <div class="container">
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Dan</th>
                                            <th scope="col">Deloni čas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ponedeljek</td>
                                            <td>8:00 - 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Torek</td>
                                            <td>8:00 - 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sreda</td>
                                            <td>8:00 - 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Četrtek</td>
                                            <td>8:00 - 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Petek</td>
                                            <td>8:00 - 22:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sobota</td>
                                            <td>11:00 - 20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Nedelja</td>
                                            <td>Zaprto</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>* Delovni čas velja od 1. 1. 2018 do preklica oz. objave novega</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="container-fluid" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="row" id="kontakt">
                        <p>
                            <b>Kontakt</b>
                        </p>
                        <p>Frizerstvo Mirko s.p.</p>
                        <p>Neka ulica 12</p>
                        <p>1000 Ljubljana</p>
                        <p>Tel: +386 1 234 56 78</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <img
                            src="https://www.b2.eu/uploads/srednjasola/frizer/b2-srednja-sola-frizer-zakaj-se-vpisati.png?1499546406335"
                            width="96px"
                            height="115px">
                    </div>
                </div>
                <div class="col-4">
                    <div class="row" id="sitemap">
                        <p>
                            <b>Kje sem?</b>
                        </p>
                        <p>
                            <a href="/">Domov</a>
                        </p>
                        <p>
                            <a href="/projects">Ponudba</a>
                        </p>
                        <p>
                            <a href="/contacts">Naroči se</a>
                        </p>
                        <p>
                            <a href="/blog">Vprašanja</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>